@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
    max-width: 100vw; /* Đảm bảo hình ảnh không vượt quá kích thước thực của nó */
}
#about-us h1 {
    color: #679a06;
    font-family: Roboto, sans-serif;
    text-align: center;
    padding: 45px 0;
}
#about-us p {
    padding: 0 20%;
    padding-bottom: 20px;
    font-family: Roboto, sans-serif;
    text-align: center;
    line-height: 1.6em;
}
#about-us .content {
    display: flex;
    justify-content: space-around;
}
#about-us .img-content {
    padding: 40px 0;
}
.chair {
    width: 40vw;
    height: auto;
}
#about-us .content .right p {
    text-align: left;
    max-width: 50vw;
}
#about-us .content .right .p1 {
    border-left: 2px solid #679a06;
    padding-left: 5%;
}
#about-us .content .right {
    padding-top: 10vw;
}
#about-us .content .right .p2 {
    padding: 0 0;
}
@media (max-width: 450px) {
    #about-us .content {
        display: inline;
    }

    .chair {
        width: 100%;
        height: auto;
    }
    #about-us .content .right {
        padding-left: 15px;
    }
    #about-us .content .right p {
        text-align: left;
        max-width: 100vw;
    }
}
